.wrapper {
    width: 50%;
    margin-left: 6.5%;
    margin-top: 6.3%;
    height: 94vh;
}

.nested-content p {
    margin-top: 25px;
    color: #ccc;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
}

.nested-content a {
    color: #f0860c;
    text-decoration: none;
}